{% extends "base.html" %}
{% block content %}

<div class="cont">

    <div class="row">

      <div class="col-lg-2" >

      </div>
      <!-- /.col-lg-2 -->

      <div class="col-lg-6" style="position: relative;margin-top: 5%;" >
<div class="card">
  <h5 class="card-header" style="background:antiquewhite; color:white;"><b>About</b></h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p>Hello friends over there!!!<br>
Thanks for visiting my website.<br>
This site is all about how you manage all your daily goals in a scheduled period. <br>You can collect your day-to-day tasks on this site and accordingly you can meet the goal of the task.<br>
To know more, do SIGNUP. If u have any queries ,feel free to contact.<br> Best Regards,<br>Roshni, <br>~ The creator.
</p>
    
  </div>
</div>
      </div>

    </div>
  
<br><br>
 

{% endblock %}